.jumbotron {
    background-color: #1b1c20;
    color: #a0a0a0;
    font-size: 0.8rem;
}

th {
    color: #727272;
}

td {
    font-weight: lighter;
}

.red {
    color: #ef352e;
}

.green {
    color: #3bb452;
}

.white {
    color: #d7d7d7;
}

.blue {
    color: #53a1ff;
}

h3{
    color: #a0a0a0;
    margin-top: 5rem;
}

.none {
    visibility: hidden;
}

.btnPage {
    margin-bottom: 0.5rem;
}

.table {
    text-align: right;
}

.coin-name {
    text-align: left;
}

.link-name {
    font-size: 1rem;
    font-weight: bold!important;
    padding-left: 0.5rem;
    text-decoration: none!important;
    color: #a0a0a0;
}

.homeImg {
    margin-top: -0.4rem;
}