.list-inline {
    padding-top: 0.5rem;
}

.list-inline-item {
    color: #a0a0a0;
    font-size: 0.8rem;
    padding: 0 1.2rem 0;
}

.gl {
    color: #53a1ff;
}

.globalContent {
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: #1b1e21;
}