body {
    background-color: #c2c2c2;
}


.bg-custom {
    background-color: #2a2a2a;
    height: 3em;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-menu {
    margin-top: -1px;
    display: none;
    position: absolute;
    background-color: #3a3a3a;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown:visited .dropdown-menu {
    display: block;
}

.dropdown-menu a {
    line-height: 1.5em;
    color: #a9a9a9;
    padding-left: .7em;
    padding-bottom: .2em;
    padding-right: .7em;
    text-decoration: none;
    display: block;
    background-color: #3a3a3a;
}

.dropdown {
    border-color: #080808;
}

/* Change color of dropdown links on hover */
.dropdown-menu a:hover
{
    background-color: white;
    color: #3a3a3a;
}

.nav-item {
    color: #a9a9a9;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: white;
}

.container {
    vertical-align: center;
    text-align: center;
}

li a {
    text-decoration: none;
    color: white;
}

.link-font a {
    text-decoration: none;
    color: white;
}