body {
    background-color: #c2c2c2;
}

.fixed-top {
    margin-top: 3%;
}

.bg-custom {
    background-color: #272727;
    height: 7.5%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-menu {
    background-color: #3a3a3a;
    min-width: 120%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-menu a {
    line-height: 150%;
    color: #a9a9a9;
    padding-left: 10%;
    padding-bottom: 2%;
    padding-right: 10%;
    text-decoration: none;
    background-color: #3a3a3a;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown:visited .dropdown-menu {
    display: block;
}

.dropdown {
    border-color: #080808;
}

/* Change color of dropdown links on hover */
.dropdown-menu a:hover
{
    background-color: white;
    color: #3a3a3a;
}

.nav-item {
    color: #a9a9a9;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: white;
}

.container {
    vertical-align: center;
    text-align: center;
}

li a {
    text-decoration: none;
    color: white;
}

.link-font a {
    text-decoration: none;
    color: white;
}