.jumbotron {
    background-color: #1b1c20;
    color: #a0a0a0;
    font-size: 0.8rem;
}

th {
    color: #727272;
}

td {
    font-weight: lighter;
}

.nameBold {
    font-size: 1rem;
    font-weight: bold!important;
}

.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: #5392ff;
}

h3{
    color: #a0a0a0;
    margin-top: 5rem;
}

.none {
    visibility: hidden;
}

.btnPage {
    margin-bottom: 0.5rem;
}

.table {
    text-align: right;
}

.coin-name {
    text-align: left;
}

Link {
    text-decoration: none!important;
}